.main{


background-color: aquamarine;

width: 50%;
margin: auto;

border: 1px solid black;
margin-top: 12px;

}


#head1{
text-align: center;

background-color: blueviolet;

margin-bottom: 70px;

padding: 20px;
}

